body {
	margin: 500;
	background-image: url(../Doctores/Doctores.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	background-position: center;
	}


table {
	width: 100%;
	border: 1px solid #000;
}

th, td {
	width: 25%;
	text-align: center;
	vertical-align: top;
	border: 1px solid #000;
}

.Titulo {
	text-align: center;
	border-top-width: 100px;
}