    /*font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Rubik Mono One', sans-serif;*/
    /*6ef0b1 - AQUA
21d873 - AQUA (LETRA E-MEDICINE)
f14d60 - ROJO
bf003b - ROJO OSCURO
fec08c - PIEL CLARO
da7f3d - PIEL OSCURO
FFFFFF - CAFE
*/
    /*
    flex-flow{
    flex-direction 
    flex-wrap}

    justify-content
    align-items
    align-content

    order

    flex{
    flex-grow
    flex-shrink
    flex-basis
    }

    */
    
    * {
        box-sizing: border-box; 
        padding: 0;
        margin: 0;
    }

    body {
        background-color: #f5ffea;
    }
    
    .allContainer {
        display: flex;
        flex-wrap: wrap;
        
        
    }
    

    
    .bienvenida {
        text-align: center;
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 2.5vw;
        margin: auto;
    }
    
    .logo {
        margin: 2vh 2vw;
        width: 8%;
        height: 8%;
        max-width: 100%;
    }

    .mainArticle {
        margin: auto;
    }

    section.tablonAnuncios {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5vw;
        background-color: hsl(27, 100%, 87%);
        padding: 2vh 2vh;
        width: 50vw;
        height: fit-content;
        justify-content:center;        
        font-family: 'Nunito', sans-serif;

        border-radius: 15px;
        border: 3px solid black;
        box-shadow: 10px 7px 3px #a1785a;
    }

    section.tablonAnuncios div.objetoTablon {
        border-radius: 10px;
        background-color: #ffc69e;
        border: 3px black solid;
        
        
    }

    div#autor {
        padding: 1vh 1vw;
        margin: 1vh 1vw;
        width: 100vw;
        height: 6vh;
        font-size: 1.5vw;
        

        
    }
    div#descripcion{
        padding: 1vh 1vw;
        width: 46vw;
        margin-bottom: 1.5vh;
        height:30vh;
        font-size: 1.5vw;   
    }

    div#fechaPublicacion{
        padding: 1vh 1vw;
        font-size: 1vw;   
    }


 