    /*font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Rubik Mono One', sans-serif;*/
    /*6ef0b1 - AQUA
21d873 - AQUA (LETRA E-MEDICINE)
f14d60 - ROJO
bf003b - ROJO OSCURO
fec08c - PIEL CLARO
da7f3d - PIEL OSCURO
FFFFFF - CAFE
*/
    /*
    flex-flow{
    flex-direction 
    flex-wrap}

    justify-content
    align-items
    align-content

    order

    flex{
    flex-grow
    flex-shrink
    flex-basis
    }
*/
    

:root {
    --aquaMenu-bg-color: #21d873;
    --aqua-bg-color:#b2dac6;;
    --aquaBright-bg-color: #6ef0b1;
    --red-bg-color: #f14d60;
    --darkRed-bg-color: #bf003b;
    --skinBright-bg-color: #fec08c;
    --skinDark-bg-color: #da7f3d;
    
    --font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size);

    --menuFont: 'Alegreya Sans SC', sans-serif;
    --bienvenidaFont: 'Rubik Mono One', sans-serif;
    --bodyFont: 
}   

    * {
        
        box-sizing: border-box; 
        padding: 0;
        margin: 0;
    }


    body {
        background-color: #e0e0e0;
    }
    
    

    
    .bienvenida {
        
        text-align: center;
        font-family: var(--bienvenidaFont);
        font-size: 3rem;
        
    }
    
    .logo {
        display: flex;
        margin: 2rem 2rem;
        float: right;
        width: 8rem;
        height: 8rem;
    }

    section.tablonAnuncios {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        background-color: hsl(27, 100%, 87%);
        padding: 2rem 2rem;
        width: 50vw;
        margin: auto;
        height: fit-content;
        justify-content:center;        
        font-family: 'Nunito', sans-serif;

        border-radius: 15px;
        border: 3px solid black;
        box-shadow: 10px 7px 3px #a1785a;
    }

    section.tablonAnuncios div.objetoTablon {
        border-radius: 10px;
        background-color: #ffc69e;
        border: 3px black solid;
        justify-content: center;
        vertical-align: middle;
        
        
    }

    div#autor {
        font-weight: bolder;
        text-align: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
        width: 50vw;
        height: 6vh;
        font-size: 2rem;
        

        
    }
    div#descripcion{
        text-align: justify;
        padding: 1rem 1rem;
        width: 46vw;
        margin-bottom: 1.5vh;
        height:30vh;
        font-size: 1.75rem;   
    }

    div#fechaPublicacion{
        padding: 0.5vh 1vw;
        font-size: 1.25rem;   
    }

    section.especialidadesMedica {

        flex-wrap: wrap;
        flex-direction: row;

        
        
    }

    img.imagenEspecialidad{
        width: 5vw;
        margin: 5vh 2vw 0vh 0vw;
    }

    section div {
        margin: 2vh 2vw;
        
    }

    .especialidadNombre{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 2vw;
        
        
    }


 