nav.nav {
    position: fixed;
    width: 100vw;
    height: 7rem;
    background-color: var(--aquaMenu-bg-color);
    margin-bottom: 7.5rem;
    font-family: var(--menuFont);  
}

.logo {
    width: 5rem;
    height: auto;
}

.profile-picture {
    width: 4rem; 
}

.navbar-nav{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}


/*.nav-header {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    margin-left: 0.1rem !important;

}*/



.nav-item {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    height: 100%;
}


.nav-link, .nav-header-link, .nav-header-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.nav-header-text {
    font-size: 1em !important;
}

.link-text, .nav-header-text {
    
    padding: 0rem 0.5rem;
    font-size: 1.2em;
}

/*i {
    width: 4rem;
    padding-right: 3rem;
    font-size: 3rem;
    margin: auto;
    padding: auto;
    text-align: center;
}*/

.nav-picture {
    width: 2.5rem;
    margin: auto auto auto 1rem;
}


/* hovers ¨*/

.navbar-nav li:hover  {
    background-color: var(--aqua-bg-color);
}




