nav.nav {
    position: fixed;
    width: 100vw;
    height: 5.5rem;
    background-color: var(--aquaMenu-bg-color);
    margin-bottom: 7.5rem;
    display: flex;
    font-family: var(--menuFont);
    
    
    
    
}

.profile-picture {
    width: 4rem;
    
}

.navbar-nav{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    

    
    
    
    
    
}


/*.nav-header {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    margin-left: 0.1rem !important;

}*/



.nav-item {
    
    display: flex;
    justify-content: space-between;
    
}


.nav-link, .nav-header-link, .nav-header-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.nav-header-text {
    font-size: 1em !important;
}

.link-text, .nav-header-text {
    
    padding: 0rem 0.5rem;
    font-size: 1.2em;
}

/*i {
    width: 4rem;
    padding-right: 3rem;
    font-size: 3rem;
    margin: auto;
    padding: auto;
    text-align: center;
}*/

.nav-picture {
    width: 2.5rem;
    margin: auto auto auto 1rem;
}


/* hovers 

.nav:hover{
    
    margin-right: 7.5rem;
    transition: 500ms all;
    
    
}

.nav:hover .profile-picture {
    transition: 300ms;
    width: 7rem;
}

.nav:hover .navbar-nav {
    margin-left: 1rem;
}
.nav:hover .link-text, .nav:hover .nav-header-text{


    display: block;
    margin: 0;
    
}




