* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e0e6e3;
}

.info-about {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 3rem;
    width: 75%;
    cursor: default;

}

.info-about div {
    border: 3px solid black;
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--skinBright-body-color);
    margin: 3rem 0 5rem 0;
    transition: 500ms all;
}

.info-about div:hover {
    transition: 500ms all;
    box-shadow: 5px 5px 0 black;
    transform: scale(1.02);

}


.info-about div:hover .title {
    transition: 500ms all;
    font-size: 1.25em;
}

.info-about div:hover p {
    transition: 500ms all;
    font-size: 1em;
}




.title {
    padding-bottom: 0.5rem;
    font-family: var(--menuFont);
    font-size: 2em;
    border-bottom: 2px solid black;
    transition: 500ms all;
}


.content {
    text-align: justify;
    margin:2rem 0 0 0;
    transition: 500ms all;
    font-family: var(--bodyFont);
    font-size: 1.25em;
}

.all-container {
    padding-top: 1rem;
}

#creadores {
    font-family: var(--footerFont);
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
}

#creadores:hover {
    transition: 500ms all;
    transform: scale(1.10);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 10fr 10fr;
    justify-items: center;

}

.user-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    background-color: var(--skinBright-body-color);
    width: 45%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms ease;
    border-radius: 15px;
    box-shadow: 0px 0px 30px var(--skinDark-body-color);
}

.user-card:hover {
    transition: 500ms ease;
    transform: scale(1.02);
    border: 2px solid var(--skinDark-body-color);
}

.user-card:active {
    transition: 1s ease;
    transform: scale(1.10);
    border: 5px solid var(--skinDark-body-color);
}



.img-layout {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

h1 {
    font-size: 1.5em;
    font-family: var(--bodyFont);
    margin: 0.5rem;
}

#social-network-logo {
    transition: 1s ease-in-out;
    color: var(--skinDark-body-color);
}

#social-network-logo:hover {
    transition: 1s ease-out;
    transform: rotate(25deg);
}

#social-network-logo:active {
    transition: 150ms all;
    transform: scale(1.25);
}

.social-network-about {
    font-size: 1.5em;
    font-family: var(--footerFont);
    font-weight: bold;
}

.social-networks {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-networks * {
    display: flex;
    text-decoration: none;
    padding: 0.35rem;
    align-items: center;
}

.social-networks #social-network-logo {
    border-radius: 5px;
}

.social-networks #social-network-logo:hover{
    transition: 250ms ease-in;
    color: white;
    background-color: var(--skinDark-body-color);
}
