* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all-container {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

.form-container{
    margin: auto;
    padding: 1rem 3rem 0.25rem 3rem;
    border-radius: 15px;
    width: 80%;
    height: fit-content;
    margin: auto;
    background-color: var(--aquaBright-bg-color);
    font-family: var(--menuFont);
    
}

.form-register {
    display: flex;
    width: 100%;
}

.motivo:first-child, .enfermedades:first-child{
    margin: auto;
}

.motivo>textarea, .enfermedades>textarea{
    display: flex;
    margin: auto;
}

textarea {
    font-family: var(--bodyFont);
    padding: 1rem;
    display: flex;
    text-align: justify;
    font-size: 1.5rem;
    border-radius: 15px;
    outline: none;
    border: 1.5px solid black;
    box-shadow: 3px 3px 0;
    width: 30rem;
    height: 6rem;
    max-height: 20rem;
}

textarea:focus {
    transition: 150ms all;
    background-color: black;
    color: white;
    box-shadow: none;
}

input:not(.submit input){
    transition: 350ms all;
    padding: 0.5rem 1rem ;
    font-size: 1.5rem;
    font-family: var(--bodyFont);
    border: 1.5px solid black;
    outline: none;   
    border-radius: 15px;
    background-color: #eafff4;
    box-shadow: 3px 3px 0px;
}

input:focus:not(.submit input) {
    transition: 150ms all;
    background-color: black;
    color: white;
    box-shadow: none;
}

.first-line{
    display: flex;
    font-size: 1.75rem;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin:1.5rem 0;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
}

.perfil select {
    width: 20%;
}

.first-line input {
    width: 100%;
}

.second-line {
    display: flex;  
    font-size: 1.75rem;
    width: 100%;    
    margin:1.5rem 0;
    justify-content: space-between;
}

.third-line {
    display: flex;  
    justify-content: space-between;
    font-size: 1.75rem;
    width: 100%;    
    margin:1.5rem 0;
}

.fourth-line {
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    margin: 1.5rem 0;

}

.fourth-line input {
    width: 100%;
}

.fifth-line {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    font-size: 1.75rem;

}

.fifth-line input {
    width: 100%;
    height: 100%;
}


.perfil > *, .first-line > *, .second-line > *, .third-line > *, .fourth-line > *, .fifth-line > *{
    margin: 0.10rem 0.5rem;
}

.fecha, .peso, .altura {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fecha > * {
    text-align: center;
}

.especialidad-medica, .doctor {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.perfil select, option, .especialidad-medica select, option, .doctor select, option {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1.5px solid black;
    outline: none;
    text-align: center;
    font-family: var(--bodyFont);
    background-color: #eafff4;
    box-shadow: 3px 3px 0;

}

.submit {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3rem;
    align-items: center;
}


.submit input {
    border-radius: 5px;
    width: 15rem;
    height: 3.5rem;
    font-family: var(--menuFont);
    box-shadow: 3px 3px 0px;
    font-size: 1.5rem;
    cursor: pointer;
}

.submit input:hover{
    transition: 350ms ease-in;
    background-color: rgb(184, 184, 184);
}

.submit input:active {
    transition: 150ms ease-in;
    border: 0;
    background-color: black;
    color: white;
    box-shadow: none;   
}

