* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: black;
    background-color: #e0e6e3;
}

.all-container {
    padding-top: 4em;
}

h2 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin: 2em 0 0 0;
    font-size: 5em;
}

.nombrePerfil {
    display: flex;
    width: 100vw;
    justify-content: center;
    font-family: var(--extraFont);
    font-size: 3em;
}





textarea {
    font-family: var(--bodyFont);
    background-color: #ffc69e;
    display: flex;
    width:70vw;
    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 15px;
    outline: none;
    border: 3px black solid;
 
}

textarea:focus {
    transition: 150ms all;
    background-color: black;
    color: white;
    box-shadow: none;
}

.submit {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3rem 0;
    align-items: center;
}

.submit input {
    border-radius: 5px;
    width: 15rem;
    height: 3.5rem;
    font-family: var(--menuFont);
    box-shadow: 3px 3px 0px;
    font-size: 2rem;
    cursor: pointer;
}

.submit input:hover {
    transition: 350ms ease-in;
    background-color: rgb(184, 184, 184);
}

.submit input:active{
    transition: 150ms ease-in;
    border: 0;
    background-color: black;
    color: white;
    box-shadow: none;   
}

div.comentariosPublicados {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 1em;
    background-color: hsl(27, 100%, 87%);
    padding: 1em 1em;
    width: 65vw;
    margin: 1.5em auto;
    height: fit-content;
    justify-content:center;
    font-family: var(--bodyFont);

    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 10px 7px 3px #a1785a;
}

div.comentariosPublicados * {
    cursor:default;
}

div.comentariosPublicados div.objetoComentarios {
    border-radius: 10px;
    background-color: #ffc69e;
    border: 3px black solid;
}

div#autor {
    display: grid;
    font-weight: bolder;
    width: 80%;
    text-align: center;
    height: 9vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}


#descripcion{
    text-align: justify;
    padding: 0.75em 1em;
    margin: 0em auto;
    width: 90%;
    margin-bottom: 1.5vh;
    height:fit-content;
    font-size: 1.5em;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

div#fechaPublicacion{
    display: grid;
    width: 80%;
    height: 9vh;
    margin: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.comentariosPublicar {
    grid-template-columns: 1fr !important;
}



.disenoBoton {
    display: grid;
    font-size: 1em;
    justify-self: center;
    text-align: center;
}

