* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e6e3;
}

.titulo{
    border: 2px solid black;
    margin: 1em 4em 0 6em;
    padding: 0 0 0 0;
    background-color: wheat;
}

h1{
    text-align: center;
    font-family: var(--menuFont);
}

.content {
    opacity: 1;
    transform: translate(0, 0);
    transition: all;

}


.parrafo span {
    margin: 1em 4em 0 6em;
    text-align: justify;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-family: var(--bodyFont);
    background-color: aliceblue;
    padding: 2em;
    margin-bottom: 10px;
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}
  
