* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e6e3;
}

.all-container {
    padding-top: 2em;
}

section.especialidadesMedica {
    display: flex;
    flex-wrap: wrap; 
    margin: 1em 0 0 4em;
}

img.imagenEspecialidad{
    width: 6em;
    height: auto;
    margin: 1em;
}

 .div-especialidades:hover img.imagenEspecialidad{
    transition: 250ms all;
    transform: scale(1.05);
    height: auto;

}

img.imagenEspecialidad:hover {
    transition: 250ms all;
    transform: rotate(35deg);
}


.especialidadNombre{
    transition: 500ms;
    font-family: var(--bodyFont);
    font-size: 2em;
    margin: 0 1em;
    
}

.div-especialidades {
    display: flex;
    background-color: var(--aqua-body-color);
    margin: 1em auto 1em auto ;
    width: 85vw;
    height: fit-content;   
    padding: 1em 0;
    align-items: center;
    border-radius: 3px;
    box-shadow: 4px 4px 2px #000000;
    transition: 500ms all;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.div-especialidades:hover {
    transition: 500ms all;
    color: black;
    background-color:var(--aquaBright-body-color);
    transform: scale(1.02);
}

.div-especialidades:hover .especialidadNombre {
    transition: 250ms all;
    font-size: 2em;
}

.div-especialidades:active {
    transition: 100ms all;
    background-color:#5e6b65;
    color: #FFFFFF;
    transform: scale(1.03);
}

.especialidadDescripcion {
    display: flex;
    text-align: justify;
    justify-content: end;
    width: 55%;
    margin: 0 2em 0 auto;
    font-size: 1em;
    
}

@media screen and (max-width: 759px) and (min-width: 481px) {
    /* .especialidadNombre{
        font-size: 0.9em;
    }

    .especialidadDescripcion{
        font-size: 0.75em;
    }

    .div-especialidades:hover .especialidadNombre {
        transition: 250ms all;
        font-size: 1em;
    } */

    .div-especialidades {
        flex-direction: column;
    }

    .especialidadDescripcion {
        width: 90%;
    }
}

@media screen and (max-width: 485px) {
    .div-especialidades {
        flex-direction: column;
    }

    .especialidadDescripcion {
        width: 90%;
    }
}

