* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e6e3;
}

.all-container {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

.add-button {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 50%;
    margin: 3rem 0;
}

.add-boton * {
    display: flex;
    justify-content: center;
    padding: auto;
}

.add-image {
    width: 10rem;
    height: auto;
}

.familiar-profiles {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.familiar-card {
    margin: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--skinBright-bg-color);
    padding: 2rem;
    border-radius: 10px;
    width: 25vw;
    height: 50vh;
}

.profile-picture-container {
    width: 10rem;
    height: 10rem;
    border: 5px solid black;
    border-radius: 100%;
}

.familiares-profile-picture {
    width: 100%;
    height: 100%;
}

.familiares-profile-name {
    font-family: var(--footerFont);
    margin: 1rem;
    font-size: 3rem;
    font-weight: bold;
    text-align:center;
}

.familiares-functions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1.5rem;
    align-items: center;
}

i {
    cursor: pointer;
    border-radius: 15px;
    text-shadow: 3px 2px 3px black;
}