.footer {
    display: flex;
    margin: 7.5rem 0 0 0;
    padding: 3rem 5rem;
    width: 100%;
    height: 50vh;
    background-color: rgb(43, 43, 43);
    justify-content: space-between;
    
}

i {
    font-size: 3rem;
    color: white;
}

.titulo-footer {
    color: #FFFFFF;
    font-size: 2.75rem;
    font-family: var(--footerFont);
    margin-bottom: 3rem;
    cursor: default;
}

.footer-item {
    font-family: var(--footerFont);
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.75rem;
    margin: 1.25rem 0;
    align-items: center;
    
}

.red-social {
    margin: 1rem;
    
}

.columna1 {
    display: flex;
    flex-direction: column;

}

.columna2 {
    display: flex;
    flex-direction: column;
    
}

.columna3 {
    display: flex;
    flex-direction: column;
}

#facebook:hover {
    transition: 500ms ease;
    transform: scale(1.25);
    color: #3B5998;
}

#instagram:hover {
    transition: 500ms ease;
    transform: scale(1.25);
    color: #E1306C;
}

#twitter:hover {
    transition: 500ms ease;
    transform: scale(1.25);
    color: #00acee;
}
