* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--menuFont);
}

.body {
    background-color: var(--aquaBright-body-color) !important;
    color: black;
}

.form-container{
    margin: auto;
    padding: 1em 3em 0.25em 3em;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    background-color: var(--aquaBright-body-color) ;
}

.form-register {
    width: 100%;
}

#modificar{
    font-weight: bold;
    font-size: 1em;
}

.logo {
    width: 7em !important;
    margin: 1.5em !important;
}

input:not(.submit input, .male input.male, .female input.female){
    transition: 350ms all;
    padding: 0.5em;
    font-family: var(--bodyFont);
    border: 1.5px solid black;
    outline: none;
    border-radius: 15px;
    background-color: #eafff4;
    box-shadow: 3px 3px 0px;
}

input:focus:not(.submit input) {
    transition: 150ms all;
    background-color: black;
    color: white;
    box-shadow: none;
}

.bienvenida-registro {
    font-size: 3.75em;
    font-family: var(--register-welcome-font);
    /* margin: 0.25em 5em 0.25em 0; */
    font-weight: bold;
}

.inicio-registro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #daffec;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.first-line, .third-line, .fourth-line {
    display: flex;
    font-size: 1.25em;
    width: 100%;
    justify-content: flex-start;
    margin:1.5em 0;
}

.second-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25em;
    margin:1.5em 0;
}

.third-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin:1.5em 0;
}

.fourth-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.5em 0;
}

.first-line > *, .second-line > *, .third-line > *, .fourth-line  > *, .fifth-line{
    margin: 0.10em 0.5em;
}



.first-line input {
    width: 80%;
}


.second-line input {
    justify-content: space-around;
    width: 48%;
    text-align: center;
}

.fecha {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fecha > * {
    text-align: center;
}

.municipio {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.municipio select, option {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 15px;
    border: 1.5px solid black;
    outline: none;
    text-align: center;
    font-family: var(--bodyFont);
    background-color: #eafff4;
    box-shadow: 3px 3px 0;

}


.fourth-line input {
    width: 75%;
}

.fifth-line  {
    display: flex;
    justify-content: center;
}

.fifth-line textarea {
    font-family: var(--bodyFont);
    display: flex;
    text-align: center;
    font-size: 1.25em;
    border-radius: 15px;
    outline: none;
    border: 1.5px solid black;
    box-shadow: 3px 3px 0;
}

.fifth-line textarea:focus {
    transition: 150ms all;
    background-color: black;
    color: white;
    box-shadow: none;
}




.disenoBoton  {
    display: grid;
    justify-content: center;
    font-size: 2em !important;
    font-family: var(--menuFont) !important;
    margin: 2em auto !important;
}
 

#modificar button:hover{
    transition: 350ms ease-in;
    background-color: rgb(184, 184, 184);
}

#modificar button:active{
    transition: 150ms ease-in;
    border: 0;
    background-color: black;
    color: white;
    box-shadow: none;
}
