* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: var(--font-family);
}

body {
    background-color: #daffec;
    color: black;
}


.inicio-register {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:not(.submit input)  {
    padding: 0.25rem 1rem;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #eafff4;
    outline: none;
    font-family: var(--bodyFont);
}

.logo {
    width: 15rem;
    margin: 1rem;
}

.bienvenida-register {
    font-size: 8rem;
    margin: 8rem 0;  
    font-family: var(--register-welcome-font)
}

.form-container {
    background-color: var(--aquaBright-body-color);
    width: 88vw;
    margin: auto;
    padding: 2rem 0;
    border-radius: 15px;
}

.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--menuFont);
}

.codUsuario {
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
    margin: 1rem;
}

.codUsuario > * {
    margin: 1rem;
}

.codUsuario input {
    box-shadow: 3px 3px 0px;
    width: 100%;
    font-size: 2rem;
    transition: 500ms all;
    
}

.codUsuario input:focus, .password input:focus {
    transition: 500ms all;
    background-color: black;
    color: white;
    box-shadow: none;
}

.password {
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
    margin: 1rem;
}

.password > * {
    margin: 1rem;
}

.password input {
    width: 100%;
    box-shadow: 3px 3px 0px;
    font-size: 2rem;
    transition: 500ms all;
}

.submit {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.submit input {
    width: 10rem;
    height: 3.5rem;
    border-radius: 10px;
    border:2px solid black;
    box-shadow: 3px 3px 0px;
    font-size: 1.5rem;
    font-family: var(--menuFont);
}

.submit input:hover, .submit-text:hover {
    transition: 350ms ease-in;
    background-color: rgb(184, 184, 184);
}

.submit input:active, .submit-text:active {
    transition: 150ms ease-out;
    background-color: black;
    color: white;
    box-shadow: none;
}

.submit-text {
    font-size: var(--menuFont);
    font-size: 1.25rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 0px;
    background-color: #FFFFFF;
    border: 2px solid black;
    text-decoration: none;
    padding: 1rem;
    color: black;
}