nav.nav {
    position: fixed;
    width: 100vw;
    height: 7rem;
    background-color: var(--aquaMenu-bg-color);
    margin-bottom: 7.5rem;
    font-family: var(--menuFont);  
    z-index: 100;
}

.logo {
    transition: 100ms all;
    width: 5rem;
    height: auto;
    
}



.navbar-nav{
    display: flex;
    width: 100vw;
    height: 7rem;
    list-style: none;
    align-items: center;
    justify-content: space-around;   
    z-index: 100;
    
}


/*.nav-header {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    margin-left: 0.1rem !important;

}*/


.nav-item:not(:first-child){
    transition: 250ms all;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.nav-item:first-child {
    border-radius: 50px;
    margin: 2rem;
    padding: 0.30rem;

    
}


.nav-link, .nav-header-link, .nav-header-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}


.link-text, .nav-header-text {
    
    padding: 0rem 0.5rem;
    font-size: 1.2em;
}


.nav-picture {
    transition: 100ms ease;
    width: 2.5rem;
    margin: auto auto auto 1rem;
}

@media (max-width: 950px) {
    .link-text {
        display: none;
    }

    .nav-picture {
        width: 2.25rem;
    }

    .logo {
        width: 3rem;
        height: auto;
    }

    .navbar-nav {
        justify-content: center;
    }

    .nav-item {
        margin: auto;
    }



}


/* hovers */

.navbar-nav li:hover {
    transition: 250ms all;
    transform: scale(1.15);
    background-color: var(--aqua-bg-color);
    border-bottom: 7px solid #26975f;
    opacity: 0.99;
}

.navbar-nav :hover .nav-picture{
    transition: 250ms all;
    width: 3.5rem;
}

.navbar-nav:hover .nav{
    transition: 250ms all;
    width: 5rem;
}



.navbar-nav li:active {
    transition: 150ms all;
    transform: scale(0.98);
    background-color: #26975f;
    border-bottom: 5px solid black;
}




/*Cierre primeros hover*/








