.barNav { 
    /* Estilos para etiqueta <nav> */
    position: fixed;
    width: 4em;
    height: 95vh;
    margin: 1em 0em;
    background-color: var(--aquaMenu-body-color);

    border-radius:0 12px 12px 0;

    transition: 500ms all;
}

.link-text {
    /* Estilos para texto en <li> */
    display: none;
    transition: 500ms all;
}

#welcome-text {
    font-family: var(--register-welcome-font); 
    font-size: 1.65em;
    font-weight: 500;
}

.logo {
    /* Estilos para el Logo E-Medicine */
    margin: auto;
    width: 50px;
}

.icon {
    color: var(--icon-color);
    font-size: 2em;
}


#nav {
    /* Estilos para etiqueta <ul> */
    display: grid;
    height: 100%;
    grid-template-rows: repeat(7, 12.5%);
    padding: 0 !important;
}
 


.bar-item {
    /* Estilos para cada <li> */
    list-style: none; /* Elimina los puntos de lista*/
    border-left: 0px solid #215f41;
    width: 100%;
    height: 100%;

    display: grid;
    justify-content: center;
    margin: auto;
    
    transition: 300ms all;
}


.bar-item:first-child {
    border-radius: 12px 12px 0 0;
    transition: 250ms all;
}

.bar-item:last-child {
    border-radius: 0 0 12px 12px;
    transition: 250ms all;
    background-color: #1db964;
}

.bar-item .bar-link {
    /* Estilos para <a> descendientes de .bar-item (<li>) */
    text-decoration: none;
    color: #000;

    font-family: var(--menuFont);
    font-size: 0.9em;

    margin: auto;

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-items: start;
    align-items: center;
}

.mini-text {
    font-size: 0.785em;
    font-weight: 500;
    color: var(--icon-color);
}



/* hover */

.barNav:hover {
    transition: 500ms all;
    width: 11em;
}

.barNav:hover .link-text {
    display: grid;
    transition: 500ms all;
}

.barNav:hover .icon{
    padding: 0.5em;
}

.barNav:hover .logo{
    padding: 0.5em;
}

.barNav:hover .bar-item{
    display: grid;
    justify-content: flex-start;
    transition: 500ms all;
}

.bar-item:hover {
    border-left: 7px solid #215f41;
    background-color: #6ef0b1;
    transition: 250ms all;
}

.bar-item:hover:last-child {
    border-radius: 0 0 12px 12px;
    transition: 250ms all;
    background-color: #58c28f;
}


