* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--menuFont);
}

body {
    background-color: var(--aquaBright-body-color);
    color: black;
}

main {
    background-color: var(--aquaBright-body-color);
}

article {
    background-color: var(--aquaBright-body-color); 
}

.form-container{
    margin: auto;
    padding: 1rem 3rem 0.25rem 3rem;
    border-radius: 15px;
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: var(--aquaBright-body-color);
}

.form-register {
    width: 100%;
}

.logo {
    width: 12.5rem;
    margin: 1rem;
}

input:not(.submit input, .male input, .female input){
    transition: 350ms all;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: var(--bodyFont);
    border: 1.5px solid black;
    outline: none;   
    border-radius: 15px;
    background-color: #eafff4;
    box-shadow: 3px 3px 0px;
}

input:focus:not(.submit input) {
    transition: 150ms all;
    background-color: black;
    color: white;
    box-shadow: none;
}

.bienvenida-register {
    font-size: 6.5rem;
    font-family: var(--register-welcome-font);
    margin: 0rem;  
}

.inicio-register {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #daffec;
    border-bottom: 5px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.second-line,.fifth-line, .sixth-line, .seventh-line {
    display: flex;
    font-size: 1.75rem;
    width: 100%;
    justify-content: flex-start;
    margin:1.5rem 0;
}

.first-line, .third-line {
    display: flex;
    font-size: 1.75rem;
    width: 100%;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.fourth-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem 0;
    font-size: 1.75rem;
}

.first-line > *, .second-line > *, .third-line > *, .fourth-line  > *, .fifth-line > *, .sixth-line > *, .seventh-line > *{
    margin: 0.10rem 0.5rem;
}

.first-line input {
    width: 60%;
} 


.second-line input {
    width: 80%;
}


.third-line input {
    width: 48%;
    text-align: center;
}




.fecha {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fecha > * {
    text-align: center;
}

.municipio {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.municipio select, option {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1.5px solid black;
    outline: none;
    text-align: center;
    font-family: var(--bodyFont);
    background-color: #eafff4;
    box-shadow: 3px 3px 0;

}


.fifth-line input {
    width: 75%;
}

.sixth-line input {
    width: 34%;
}

.seventh-line input{
    width: 24.5%;
}


.submit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 3rem;
    align-items: center;
}


.submit input {
    border-radius: 5px;
    width: 10rem;
    height: 3.5rem;
    font-family: var(--menuFont);
    box-shadow: 3px 3px 0px;
    font-size: 1.5rem;
    cursor: pointer;;
}

.account {
    align-content: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 0.75rem;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    font-size: 1.25rem;
    box-shadow: 3px 3px 0px;
}

.submit input:hover, .account:hover {
    transition: 350ms ease-in;
    background-color: rgb(184, 184, 184);
}

.submit input:active, .account:active {
    transition: 150ms ease-in;
    border: 0;
    background-color: black;
    color: white;
    box-shadow: none;   
}

.show-hide {
    width: 5rem;
    height: auto;
}



