
:root {/* Aquí definimos las variables */
    --aquaMenu-body-color: #21d873;
    --aqua-body-color:#b2dac6;
    --aquaBright-body-color: #6ef0b1;
    --red-body-color: #f14d60;
    --darkRed-body-color: #bf003b;
    --skinBright-body-color: #fec08c;
    --skinDark-body-color: #da7f3d;
    
    --font-size: 62.5%;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-family: var(--font-family);
    font-size: var(--font-size);


    --menuFont: 'Alegreya Sans SC', sans-serif;
    --bienvenidaFont: 'Rubik Mono One', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --extraFont: 'Rubik', sans-serif;
    --footerFont: 'Yanone Kaffeesatz', sans-serif;
    --register-welcome-font: 'Sacramento', cursive;

}   