* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.all-container {
    padding-top: 1em;
    
}

section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 7.5em;
    margin: auto;
}

.agregarUser {
    display: flex;
    font-family: var(--menuFont);
    font-size: 0.875em;
    background-color: var(--aquaBright-body-color);
    box-shadow: 4px 4px 0px hsl(151, 60%, 60%);
    margin: 1em auto 5em auto;
    border-radius: 10px;
    width: 50vw;
    align-items: center;
    padding: 1em;
    text-decoration: none;
    color: black;
    transition: all 250ms;
}

.agregarUser:hover {
    color: #000;
    background-color: var(--aqua-body-color);
    box-shadow: 4px 4px 0px hsl(151, 42%, 68%);
    transition: all 250ms;

}

.agregarUser:active {
    transform: translateY(5px);
    box-shadow: none;
}


.add-image{ 
    width: 5rem;
}

span.add-text {
    font-size: 4em;
    margin-left: auto;
}

table {
    margin: 1em auto;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
    vertical-align:middle;
    background-color: hsl(151, 60%, 60%);
    height: 5em;
    width: 50vw;
}
/* 
/* .tablaUsuarios {
    width: 30%;
}

.tablaFamiliares {
    width: 10%;
} */ */

.users {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    margin: auto auto 0.25rem auto
}

ul {
    list-style: none;
}

li {
    margin: 0.25em;
}


.focus {
    border: 3px solid black;
    padding: 2rem;
    margin:auto 0.25rem;
    width: 15rem;
    font-size: 1em;
}

i.fas {
    color: hsl(147, 60%, 29%)   ;
    font-size: 1em;
    transition: all 500ms;

}

button {
    color: black;
    outline: none;
    background-color:hsl(151, 60%, 60%) ;
    border: none;
    cursor: pointer;
}


button:hover i{
    transition: all 500ms;
    font-size: 1.25em;
    text-shadow: 0 0 5px hsl(151, 60%, 35%);
}



th {
    background-color: hsl(147, 60%, 49%);
}

th,  tr, td {
    border: 2px solid black;
    padding: 1em;
    font-size: 1em;
    font-family: var(--menuFont);
}

th:first-child {
    border-radius:  15px 0 0 0 ;
}

th:last-child {
    border-radius:  0 15px 0 0 ;
}

