/*6ef0b1 - AQUA
21d873 - AQUA (LETRA E-MEDICINE)
f14d60 - ROJO
bf003b - ROJO OSCURO
fec08c - PIEL CLARO
da7f3d - PIEL OSCURO
FFFFFF - CAFE
*/

* {
    padding: 0;
    margin: 0;
}

section.especialidadesMedicas {
    float: right;
}

section.tablonAnuncios {
    width: 10vw;
    height: 100vh;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}