/*6ef0b1 - AQUA
21d873 - AQUA (LETRA E-MEDICINE)
f14d60 - ROJO
bf003b - ROJO OSCURO
fec08c - PIEL CLARO
da7f3d - PIEL OSCURO
FFFFFF - CAFE
*/

* {
    padding: 0;
    margin: 0;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.especialidadesMedicas {
    float: right;
}

section.tablonAnuncios {
    display: flex;
    width: 40vw;
    height: 25vh;
    border: 2px black solid;
    justify-content: center;
    align-items: center;
    margin: 5vw 75vh;
}

section.tablonAnuncios p.autor {
    align-items: flex-start;
    font-size: 3vw;
    padding: 10px;
}

section.tablonAnuncios p.asunto {
    align-items: flex-start;
    padding: 10px;
    font-size: 3vw;
}

section.tablonAnuncios p.descripcion {
    align-items: flex-end;
    font-size: 1.10vw;
}