*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forminicio{
  margin: 50px auto;
}

.usuario, .contra, #enviar{
  align-items: center;
  justify-content: center;
}

input, label{
  display: flex;
  justify-content: center;
  margin: 1vh auto;
}

.contra, #enviar{
  margin-top: 20px;
}